<div>
    <h2 id="page-heading">
        <span jhiTranslate="tfsBackendApp.nationality.home.title">Nationalities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nationality" [routerLink]="['/nationality/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tfsBackendApp.nationality.home.createLabel">
            Create a new Nationality
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="nationalities?.length === 0">
        <span jhiTranslate="tfsBackendApp.nationality.home.notFound">No nationalities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="nationalities && nationalities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleFR"><span jhiTranslate="tfsBackendApp.nationality.libelleFR">Libelle FR</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleEN"><span jhiTranslate="tfsBackendApp.nationality.libelleEN">Libelle EN</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="tfsBackendApp.nationality.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="flag"><span jhiTranslate="tfsBackendApp.nationality.flag">Flag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nationality of nationalities ;trackBy: trackId">
                    <td><a [routerLink]="['/nationality', nationality.id, 'view']">{{ nationality.id }}</a></td>
                    <td>{{ nationality.libelleFR }}</td>
                    <td>{{ nationality.libelleEN }}</td>
                    <td>{{ nationality.code }}</td>
                    <td>{{ nationality.flag }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/nationality', nationality.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/nationality', nationality.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(nationality)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="nationalities && nationalities.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
