<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otherResidencyFile">
            <h2><span jhiTranslate="tfsBackendApp.otherResidencyFile.detail.title">Other Residency File</span> {{ otherResidencyFile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tfsBackendApp.otherResidencyFile.path">Path</span></dt>
                <dd>
                    <span>{{ otherResidencyFile.path }}</span>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.otherResidencyFile.requiredDoc">Required Doc</span></dt>
                <dd>
                    <div *ngIf="otherResidencyFile.requiredDocId">
                        <a [routerLink]="['/required-doc', otherResidencyFile.requiredDocId, 'view']">{{ otherResidencyFile.requiredDocId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.otherResidencyFile.residencyDocument">Residency Document</span></dt>
                <dd>
                    <div *ngIf="otherResidencyFile.residencyDocumentId">
                        <a [routerLink]="['/residency-document', otherResidencyFile.residencyDocumentId, 'view']">{{ otherResidencyFile.residencyDocumentId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/other-residency-file', otherResidencyFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
