<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fAQ">
            <h2><span jhiTranslate="tfsBackendApp.fAQ.detail.title">FAQ</span> {{ fAQ.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tfsBackendApp.fAQ.question">Question</span></dt>
                <dd>
                    <span>{{ fAQ.question }}</span>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.fAQ.answer">Answer</span></dt>
                <dd>
                    <span>{{ fAQ.answer }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/faq', fAQ.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
