<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="residencyDocument">
            <h2><span jhiTranslate="tfsBackendApp.residencyDocument.detail.title">Residency Document</span> {{ residencyDocument.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tfsBackendApp.residencyDocument.labelFR">Label FR</span></dt>
                <dd>
                    <span>{{ residencyDocument.labelFR }}</span>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.residencyDocument.labelEN">Label EN</span></dt>
                <dd>
                    <span>{{ residencyDocument.labelEN }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/residency-document', residencyDocument.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
