<div>
    <h2 id="page-heading">
        <span jhiTranslate="tfsBackendApp.appSettings.home.title">App Settings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-app-settings" [routerLink]="['/app-settings/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tfsBackendApp.appSettings.home.createLabel">
            Create a new App Settings
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="appSettings?.length === 0">
        <span jhiTranslate="tfsBackendApp.appSettings.home.notFound">No appSettings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="appSettings && appSettings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mailSenderProvider"><span jhiTranslate="tfsBackendApp.appSettings.mailSenderProvider">Mail Sender Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="signerProvider"><span jhiTranslate="tfsBackendApp.appSettings.signerProvider">Signer Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appSettings of appSettings ;trackBy: trackId">
                    <td><a [routerLink]="['/app-settings', appSettings.id, 'view']">{{ appSettings.id }}</a></td>
                    <td jhiTranslate="{{ 'tfsBackendApp.SenderProvider.' + appSettings.mailSenderProvider }}">{{ appSettings.mailSenderProvider }}</td>
                    <td jhiTranslate="{{ 'tfsBackendApp.SignerProvider.' + appSettings.signerProvider }}">{{ appSettings.signerProvider }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/app-settings', appSettings.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/app-settings', appSettings.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(appSettings)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="appSettings && appSettings.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
