<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-app-settings-heading" jhiTranslate="tfsBackendApp.appSettings.home.createOrEditLabel">Create or edit a App Settings</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tfsBackendApp.appSettings.mailSenderProvider" for="field_mailSenderProvider">Mail Sender Provider</label>
                    <select class="form-control" name="mailSenderProvider" formControlName="mailSenderProvider" id="field_mailSenderProvider">
                        <option value="MIDDLEWARE">{{ 'tfsBackendApp.SenderProvider.MIDDLEWARE' | translate }}</option>
                        <option value="SEND_GRID">{{ 'tfsBackendApp.SenderProvider.SEND_GRID' | translate }}</option>
                        <option value="RANDOM">{{ 'tfsBackendApp.SenderProvider.RANDOM' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('mailSenderProvider')!.invalid && (editForm.get('mailSenderProvider')!.dirty || editForm.get('mailSenderProvider')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mailSenderProvider')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tfsBackendApp.appSettings.signerProvider" for="field_signerProvider">Signer Provider</label>
                    <select class="form-control" name="signerProvider" formControlName="signerProvider" id="field_signerProvider">
                        <option value="NG_SIGN">{{ 'tfsBackendApp.SignerProvider.NG_SIGN' | translate }}</option>
                        <option value="SIGN_ATTIJARI">{{ 'tfsBackendApp.SignerProvider.SIGN_ATTIJARI' | translate }}</option>
                        <option value="RANDOM">{{ 'tfsBackendApp.SignerProvider.RANDOM' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('signerProvider')!.invalid && (editForm.get('signerProvider')!.dirty || editForm.get('signerProvider')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('signerProvider')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
