<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="staffPermission">
            <h2><span jhiTranslate="tfsBackendApp.staffPermission.detail.title">Staff Permission</span> {{ staffPermission.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tfsBackendApp.staffPermission.idRole">Id Role</span></dt>
                <dd>
                    <span>{{ staffPermission.idRole }}</span>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.staffPermission.idBu">Id Bu</span></dt>
                <dd>
                    <span>{{ staffPermission.idBu }}</span>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.staffPermission.action">Action</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'tfsBackendApp.ActionPermission.' + staffPermission.action }}">{{ staffPermission.action }}</span>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.staffPermission.scopePermission">Scope Permission</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'tfsBackendApp.ScopePermission.' + staffPermission.scopePermission }}">{{ staffPermission.scopePermission }}</span>
                </dd>
                <dt><span jhiTranslate="tfsBackendApp.staffPermission.staffType">Staff Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'tfsBackendApp.StaffType.' + staffPermission.staffType }}">{{ staffPermission.staffType }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/staff-permission', staffPermission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
