<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bot-scan-heading" jhiTranslate="tfsBackendApp.botScan.home.createOrEditLabel">Create or edit a Bot Scan</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tfsBackendApp.botScan.ref_demande" for="field_ref_demande">Ref Demande</label>
                    <input type="text" class="form-control" name="ref_demande" id="field_ref_demande"
                           formControlName="ref_demande"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tfsBackendApp.botScan.cliDelta" for="field_cliDelta">Cli Delta</label>
                    <input type="text" class="form-control" name="cliDelta" id="field_cliDelta"
                           formControlName="cliDelta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tfsBackendApp.botScan.signature" for="field_signature">Signature</label>
                    <input type="text" class="form-control" name="signature" id="field_signature"
                           formControlName="signature"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tfsBackendApp.botScan.compte" for="field_compte">Compte</label>
                    <input type="text" class="form-control" name="compte" id="field_compte"
                           formControlName="compte"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
